{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>OopslaPeople-{{name}}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>

    <body>
        
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" style="color: white;" href="http://oopsla.sch.ac.kr">O O P S L A</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>



        <!-- Header - set the background image for the header in the line below-->
        <header class="py-1" style="background-color: black; height: fit-content;">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% get_static_prefix %}img/oopsla.png" alt="img" style="width: 10%;"/>
                <h1 class="text-white fs-3 fw-bolder">O O P S L A</h1>
                <p class="text-white-50 mb-0">부원 소개 - {{name}}</p>
            </div>
        </header>


        
        


        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h1 style="margin-bottom: 2rem;">Information of {{englishname}}</h1>
                        <div style="display: flex; justify-content: space-between; width: 100%; height: 180%;">

                            
                            <img id="profileImg" src="{% get_static_prefix %}img/{{imgfile}}" style="width: 45%; height:45%;">
                            <span style="width: 45%; height: 45%; display: flex; flex-direction: column; justify-content: space-between;">
                                <p><span class="lead" style="white-space: pre">name:&#9;</span>
                                    <span class="mb-0" style="font-size: 1.2rem;;">{{name}}</span>
                                </p>
                                <p>
                                    <span class="lead" style="white-space: pre">position:&#9;</span>
                                    <span class="mb-0" style="font-size: 1.2rem;">{{position}}</span>
                                </p>
                                <p>
                                    <span class="lead" style="white-space: pre">birthday:&#9;</span>
                                    <span class="mb-0" style="font-size: 1.2rem;">{{birthday}}</span>
                                </p>
                                <p>
                                    <span class="lead" style="white-space: pre">contact:&#9;</span>
                                    <span class="mb-0" style="font-size: 1.2rem;">{{email}}</span>
                                </p>
                                {% if giturl != '없음' or snsurl != '없음'%}
                                <p>
                                    <span class="lead" style="white-space: pre">more:&#9;</span>
                                    {% if giturl != '없음' %}
                                    <a href="{{giturl}}" style="margin-right: 1rem;">
                                        <img src="{% get_static_prefix %}img/github.png" style="width: 2rem; height: 2rem;">
                                        GitHub
                                    </a>
                                    {% endif %}
                                    {% if snsrul != '없음' %}
                                    <a href="{{snsrul}}">
                                        <img src="{% get_static_prefix %}img/sns.png" style="width: 2rem; height: 2rem;">
                                        SNS
                                    </a>
                                    {% endif %}

                                </p>
                                {%endif%}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h2>Introducing {{englishname}}</h2>
                        <p class="mb-0">{{intro|linebreaksbr}}</p>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <h2>Career of {{englishname}}</h2>
                        <p class="mb-0">{{career|linebreaksbr}}</p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <h1 class="text-white fs-3 fw-bolder" style="text-align: center;">OOPSLA Laboratory</h1>
            <div class="container"><p class="m-0 text-center text-white">22, Soonchunhyang-ro, Sinchang-myeon, Asan-si, Chungcheongnam-do
                <br>Dept. of Computer Science and Engineering, SCH University.</p></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
